<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link th:replace="partials/links :: links"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <style>
        .jumbotron {
            padding: 1rem 2rem;
            margin-top: 4rem;
        }

        .fab, .fas {
            font-size: 1.8rem;
        }

        .icons {
            display: flex;
            justify-content: space-around;
            padding: 0 1.8rem;
        }

        h5 {
            text-align: center;
        }
    </style>

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid border-glow">
        <div class="container p-0 w-100">
            <h1 class="display-4 d-flex justify-content-center m-0">About our Developers</h1>
        </div>
    </div>
    <div class="card-deck">
        <div class="card border-glow">
            <a href="https://alumni.codeup.com/students/893">
                <img class="card-img-top" th:src="@{../img/Amaro.jpg}" alt="">
            </a>
            <div class="card-body">
                <h5 class="card-title">Amaro Terrazas</h5>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/amaro-terrazas/"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/AmaroT"><i class="fab fa-github"></i></a>
                    <a href="mailto:amaro.terrazas@gmail.com"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
        </div>


        <div class="card border-glow">
            <a href="https://alumni.codeup.com/students/898">
                <img class="card-img-top" th:src="@{../img/Binjita.jpg}" alt="">
            </a>
            <div class="card-body">
                <h5 class="card-title">Binjita Kandel Baral</h5>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/binjitakbaral/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/bkandelbaral20"><i class="fab fa-github"></i></a>
                    <a href="mailto:binjita.baral@gmail.com"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
        </div>

        <div class="card border-glow">
            <a href="https://alumni.codeup.com/students/887">
                <img class="card-img-top" th:src="@{../img/Ryan.jpg}" alt="">
            </a>
            <div class="card-body">
                <h5 class="card-title">Ryan Cuvillier</h5>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/ryan-cuvillier/"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/cuvillier-ryan"><i class="fab fa-github"></i></a>
                    <a href="mailto:cuvillier.ryan@gmail.com"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
        </div>

        <div class="card border-glow">
            <a href="https://alumni.codeup.com/students/883">
                <img class="card-img-top" th:src="@{../img/trevor2.jpg}" alt="">
            </a>
            <div class="card-body">
                <h5 class="card-title">Trevor Arnold</h5>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/trevorjarnold/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/arnoldjtrevor"><i class="fab fa-github"></i></a>
                    <a href="mailto:arnold.j.trevor@gmail.com"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<script src="https://kit.fontawesome.com/05a3a2603b.js" crossorigin="anonymous"></script>
<scripts th:replace="partials/scripts :: scripts"></scripts>

</body>
</html>