<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<standard_links th:fragment="sidebar">-->
<!--    <div id="sidebar-wrapper" class="border-right bg-light">-->
<!--        <div class="sidebar-heading"></div>-->
<!--        <div class="mini-profile">-->
<!--            <img class="profile-pic" src="assets/img/gaga.jpg">-->
<!--            <h2>Name</h2>-->
<!--            <h4>@Username</h4>-->
<!--        </div>-->
<!--        <div class="list-group list-group-flush">-->
<!--            <a class="list-group-item list-group-item-action bg-light" th:href="@{/profile}">Profile</a>-->
<!--            <a class="list-group-item list-group-item-action bg-light" th:href="@{/groups}">Groups</a>-->
<!--            <a class="list-group-item list-group-item-action bg-light" th:href="@{/games}">Games</a>-->
<!--            <a class="list-group-item list-group-item-action bg-light" th:href="@{/aboutUs}">About Us</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</standard_links>-->